/* Hamburger button hidden on desktop */
.menu-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-dark);
}

/* MOBILE NAV */
@media (max-width: 768px) {

  .menu-btn {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 120px;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);

    flex-direction: column;
    gap: 20px;
    padding: 30px;

    display: none; /* hidden by default */
    align-items: center;
  }

  .nav-links.active {
    display: flex;
  }

  .navbar {
    padding: 0px 20px;
  }
}